//- INFO //
//- INFO //

//- Convert image to base64:
//-    $ base64 <file-name>.png > <file-name>.b64

//- 1px PNG to base64
//-    http://px64.net/

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
-
    var prefix = 'https://raw.githubusercontent.com/kitchenbudapest/' +
                 'openpage/gh-pages/mail/img/',
    dims   =
    {
        page :
        {
            width : '500px',
        },
        border :
        {
            hairline : '1px',
        },
    },
    colors =
    {
        cream     : '#FEF6DF',
        ground    : '#685D55',
        chocolate : '#512417',
        orange    : '#F0761D',
        coffee    : '#433934',
        sand      : '#9F9689',
    },
    images =
    {
        gradient  :
        'data:image/png;base64,' +
        'iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAIAAADvIroEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA' + 
        'B3RJTUUH3wgFDSwwPyJ3+AAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUH' +
        'AAAAp0lEQVQoz+2ROY4DMQwEu8pPcuTY///TBqJECvCmjhwQGEqtvibv19MEk/w7EBNUBRQERGrX' +
        '2jSIClk7682ZupPma67it/FLq3CmtY5uCmtj6+zGlkb5c/g/WuM82W9UUr4r48iy8o4MUY+nO6Ni' +
        'GJ0Mb4I5fW2OWzO7m/Mv0j5GB5HR48Y15+GqrlbExsdo1AeG9X3n5nTeGRdP2HwfesvuNr/57vwB' +
        'D3UExpBGSXAAAAAASUVORK5CYII=',
        dot :
        {
            orange :
            'data:image/png;base64,' +
            ' iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP4UCb7HwAGYAKDLK/' + 
            'Q5AAAAABJRU5ErkJggg==',
            sand   :
            'data:image/png;base64,' +
            ' iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOYP63zPwAGVAK+P4p' +
            'JYQAAAABJRU5ErkJggg==',
        }
    };



//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
mixin separator(color, height)
    tr
        td
        td(width   = dims.page.width
           height  = height
           bgcolor = color)
        td

mixin indicator
    | &nbsp;&nbsp;
    sup
        img(width  = "3px"
            height = "3px"
            src    = images.dot.orange)
    | &nbsp;&nbsp;


//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
doctype html
html(lang = 'en')

    head
        title Kibu Hackthon 2015 | Confirmation
        style
            include ../css/tinyreset.css
             
    body(bgcolor = colors.coffee)
        font(face  = "sans-serif"
             color = colors.chocolate)
            table(width       = "100%"
                  border      = "0"
                  cellpadding = "0"
                  cellspacing = "0")
                
                // header  
                tr
                    td
                        // header-frame
                        table(width       = "100%"
                              border      = "0"
                              cellpadding = "0"
                              cellspacing = "0"
                              background  = prefix + 'gradient_mail.png')
                            tr(height = "50px")
                            tr
                                td
                                td(width = dims.page.width)
                                    table(width       = "100%"
                                          cellpadding = "0"
                                          cellspacing = "0")
                                        tr
                                            td(style = "vertical-align: middle")
                                                img(src = prefix + 'hackathon_mail_logo.svg')
                                            td(rowspan = "3")
                                                img(src = prefix + 'vt100_mail.png')
                                td
                // body        
                tr
                    td
                        // body-frame
                        table(width       = "100%"
                              border      = "0"
                              cellpadding = "0"
                              cellspacing = "0"
                              bgcolor     = colors.cream)
                            tr(height = "30px")
                            tr
                                td
                                td(width = dims.page.width)
                                   font(color = colors.orange
                                        size  = "7")
                                        | Welcome
                                td
                            tr(height = "10px")
                            +separator(colors.orange,
                                       dims.border.hairline)
                            tr(height = "50px")
                            tr
                                td
                                td(width = dims.page.width)
                                    p
                                        b Hi <?=$variable?>!
                                    br
                                    p
                                        | Welcome on board of KIBU Hackathon!
                                        | We got your registration. You are in!
                                        | You can find all the essential
                                        | information about the event here.
                                    br
                                    p
                                        | If you have any additional questions
                                        | or for some reasons you&#39;ll be
                                        | unable to attend, please let us know
                                        | by sending an email to us.
                                    br
                                    p
                                        | Looking forward to seeing you on 2nd
                                        | Oct at 6pm!
                                    br
                                    p
                                        i Cheers,
                                    br
                                    p
                                        b Kibu Hackathon Team
                                    p
                                        font(color = colors.orange)
                                            a(href   = "www.hackathon.kibu.hu"
                                              target = "_blank")
                                                font(color = colors.orange)
                                                    | www.hackathon.kibu.hu
                                    br
                                    p
                                        b PS.:
                                        | &nbsp;If you have further questions,
                                        | feel free to drop&nbsp;
                                        a(href   = "mailto:aliz.nagy@kitchenbudapest.hu"
                                          target = "_blank")
                                            font(color = colors.orange)
                                                | Aliz
                                        | &nbsp;a line!
                                td
                            tr(height="85px")
                // footer
                tr
                    td
                        // footer-frame
                        table(width       = "100%"
                              border      = "0"
                              cellpadding = "0"
                              cellspacing = "0")
                            tr(height="50px")
                            tr
                                td
                                td(width = dims.page.width)
                                    table(width="100%")
                                        tr
                                            td
                                                a(href   = "http://kibu.hu"
                                                  target = "_blank")
                                                  img(src = prefix + 'hackathon_kibu_logo_mail.svg')
                                            td
                                            td(width = "35px")
                                                a(href   = "https://www.facebook.com/kitchenbudapest"
                                                  target = "_blank")
                                                    img(src = prefix + 'hackathon_social_facebook_mail.svg')
                                            td(width = "14px")
                                            td(width = "35px")
                                                a(href   = "https://twitter.com/kibu"
                                                  target = "_blank")
                                                    img(src = prefix + 'hackathon_social_twitter_mail.svg')
                                td
                            tr(height = "50px")
                            +separator(colors.ground,
                                       dims.border.hairline)
                            tr(height = "30px")
                            tr
                                td
                                td(width = dims.page.width
                                   align = "center")
                                    p
                                        a(href="https://github.com/kitchenbudapest/hackathon"
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Hackathon Documentation &amp; Framework
                                        +indicator
                                        a(href="https://github.com/kitchenbudapest/openpage/blob/gh-pages/etc/terms_and_conditions.md"
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Hackathon Terms &amp; Conditions
                                    p
                                        +indicator
                                        a(href="https://github.com/kitchenbudapest"
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Kibu's Central Repository
                                        +indicator
                                        a(href="http://kibu.hu"
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Kibu's Website
                                        +indicator
                                        a(href="https://www.raspberrypi.org/"
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Raspberry Pi's Website
                                td
                            tr(height = "65px")
