//- INFO //
//- INFO //

//- Convert image to base64:
//-    $ base64 <file-name>.png > <file-name>.b64

//- 1px PNG to base64
//-    http://px64.net/

//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
-
    var prefix = 'https://raw.githubusercontent.com/kitchenbudapest/' +
                 'openpage/gh-pages/mail/img/hackathon_mail_',
    dims   =
    {
        page :
        {
            width : '500px',
        },
        border :
        {
            hairline : '1px',
        },
    },
    colors =
    {
        cream     : '#FEF6DF',
        ground    : '#685D55',
        chocolate : '#512417',
        orange    : '#F0761D',
        coffee    : '#433934',
        sand      : '#9F9689',
    };



//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
mixin padding
    td(width = "20px")
    
mixin separator(color, height)
    tr
        td
        +padding
        td(width   = dims.page.width
           height  = height
           bgcolor = color)
        +padding
        td

mixin indicator
    | &nbsp;&nbsp;
    sup
        img(width  = "3px"
            height = "3px"
            src    = prefix + 'indicator.png')
    | &nbsp;&nbsp;



//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
doctype html
html(lang = 'en')

    head
        title Kibu Hackthon 2015 | Confirmation
        style
            include ../css/tinyreset.css
             
    body(bgcolor = colors.coffee)
        font(face  = "sans-serif"
             color = colors.chocolate)
            table(width       = "100%"
                  border      = "0"
                  cellpadding = "0"
                  cellspacing = "0")
                // header  
                tr
                    td
                        // header-frame
                        table(width       = "100%"
                              border      = "0"
                              cellpadding = "0"
                              cellspacing = "0"
                              background  = prefix + 'gradient.png')
                            tr(height = "50px")
                            tr
                                td
                                +padding
                                td(width = dims.page.width)
                                    img(src = prefix + 'logo_graphics.png'
                                        alt = "[:] Kibu Hackathon 015'")
                                +padding
                                td
                // body        
                tr
                    td
                        // body-frame
                        table(width       = "100%"
                              border      = "0"
                              cellpadding = "0"
                              cellspacing = "0"
                              bgcolor     = colors.cream)
                            tr(height = "30px")
                            tr
                                td
                                +padding
                                td(width = dims.page.width)
                                   font(color = colors.orange
                                        size  = "7")
                                        | Welcome
                                +padding
                                td
                            tr(height = "10px")
                            +separator(colors.orange,
                                       dims.border.hairline)
                            tr(height = "50px")
                            
                            //- Insert mail text
                            if TEMPLATE === 'confirm'
                                include _confirm
                            else if TEMPLATE === 'waiting'
                                include _waiting
                            else if TEMPLATE === 'reminder'
                                include _reminder
                            else if TEMPLATE === 'kibuers'
                                include _kibuers
                            else
                                font(color='#FF0000')
                                    h1 INVALID TEMPLATE VARIABLE
                                
                            tr(height="85px")
                // footer
                tr
                    td
                        // footer-frame
                        table(width       = "100%"
                              border      = "0"
                              cellpadding = "0"
                              cellspacing = "0"
                              bgcolor     = colors.coffee)
                            tr(height="50px")
                            tr
                                td
                                +padding
                                td(width = dims.page.width)
                                    table(width="100%")
                                        tr
                                            td(width = '153px')
                                                a(href   = "http://kibu.hu"
                                                  target = "_blank")
                                                    img(src = prefix + 'kibu_logo.png'
                                                        alt = "[] Kitchen Budapest")
                                            td
                                            td(width = '38px')
                                                a(href   = 'http://www.telekom.hu'
                                                  target = '_blank')
                                                    img(src = prefix + 'telekom_logo.png'
                                                        alt = '*T**')
                                            td
                                            td(width = '63px')
                                                a(href   = 'https://www.hubraum.com'
                                                  target = '_blank')
                                                    img(src = prefix + 'hubraum_logo.png'
                                                        alt = 'hub:raum')
                                            td
                                            td(width = '112px')
                                                a(href   = 'https://www.devicehub.net/'     +
                                                           '?utm_source=Google'             +
                                                           '&amp;utm_medium=KIBU%20website' +
                                                           '&amp;utm_campaign=KIBU%20hackathon'
                                                      target = '_blank')
                                                    img(src = prefix + 'devicehub_logo.png'
                                                        alt = 'DeviceHub')
                                            td
                                            td(width = "30px")
                                                a(href   = "https://www.facebook.com/kitchenbudapest"
                                                  target = "_blank")
                                                    img(src = prefix + 'social_facebook.png'
                                                        alt = "(f)")
                                            td
                                            td(width = "30px")
                                                a(href   = "https://twitter.com/kibu"
                                                  target = "_blank")
                                                    img(src = prefix + 'social_twitter.png'
                                                        alt = "(t)")
                                +padding
                                td
                            tr(height = "50px")
                            +separator(colors.ground,
                                       dims.border.hairline)
                            tr(height = "30px")
                            tr
                                td
                                +padding
                                td(width = dims.page.width
                                   align = "center")
                                    p
                                        a(href="https://github.com/kitchenbudapest/hackathon"
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Hackathon Documentation &amp; Framework
                                        +indicator
                                        a(href='https://github.com/kitchenbudapest/' +
                                               'openpage/blob/gh-pages/etc/'         +
                                               'terms_and_conditions.md'
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Hackathon Terms &amp; Conditions
                                    p
                                        +indicator
                                        a(href="https://github.com/kitchenbudapest"
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Kibu's Central Repository
                                        +indicator
                                        a(href="http://kibu.hu"
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Kibu's Website
                                        +indicator
                                        a(href="https://www.raspberrypi.org/"
                                          target="_blank")
                                            font(color = colors.sand
                                                 size  = "2")
                                                | Raspberry Pi's Website
                                +padding
                                td
                            tr(height = "65px")
