-
    var sources  =
    [
        [''    , 'bin'],
        [''    , 'register'],
        ['bin/', 'doc'],
        ['bin/', 'apply'],
        ['bin/', 'addr'],
        ['bin/', 'date'],
        ['bin/', 'award'],
        ['bin/', 'man'],
        ['bin/', 'help'],
        ['bin/', 'kibu'],
        ['bin/', 'fork'],
        ['bin/', 'git'],
        ['bin/', 'what'],
        ['bin/', 'fortytwo'],
        ['bin/', 'dw'],
        ['bin/', 'js'],
        ['bin/', 'su'],
        [''    , 'postp'],
        [''    , 'font'],
        [''    , 'scr'],
        [''    , 'kb'],
        [''    , 'sh'],
        [''    , 'term'],
        [''    , 'form'],
        [''    , 'main'],
    ];

    // TODO: ** js string escape **
    //       escapes should be escaped!
    var img_alt_vt100 =
    '  ___________________________  ' +
    ' / |   ____________   |      \ ' +
    '|  |  / [u@h] $    \  |       |' +
    '|  | |              | |       |' +
    '|  | |              | |       |' +
    '|   \ \____________/ /  VT100 |' +
    '|    \______________/         |' +
    '|_____________________________|' +
    '  \_________________________/  ';

    var img_alt_kibu =
    '##########                  ' +
    '##      ##  KITCHEN         ' +
    '##      ##  BUDAPEST        ' +
    '##      ##  Powered by *T** ' +
    '##########                  ';


doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name    = 'viewport'
             content = 'width=device-width, initial-scale=0.5')
        link(rel  = 'shortcut icon'
             href = 'http://kitchenbudapest.github.io/openpage/favicon.ico')
        title Kibu Hackathon 2015
        link(rel  = 'stylesheet'
             href = 'css/main.css')
        if MINIFIED
            each source in sources
                script(src='js/' + source[0] + 'min/' + source[1] + '.min.js')
        else
            each source in sources
                script(src='js/' + source[0] + source[1] + '.js')

    body
        div
            div(id='header')
                div(id='header-terminal')
                    img(id  = 'header-terminal-frame'
                        src = 'img/vt100_as_frame.002.001.png'
                        alt = '#{img_alt_vt100}')
                    a(id     = 'header-terminal-logo'
                      href   = 'https://en.wikipedia.org/wiki/VT100'
                      target = '_blank')
                    a(id   = 'header-terminal-apply'
                      href = '#registration')
                    div(id='header-terminal-postit')
                        p - Type in "HELP" if you are stuck.
                        br/
                        p - "EXIT" brings you to a less nerdy experience :)
            div(id='logo')
                a(class = 'anchor'
                  name  = 'logo')
                div(id='logo-frame')
                    div(class='paragraph-1')
                        img(id  = 'logo-frame-img'
                            src = 'img/hackathon_logo.svg'
                            alt = '[:] KIBU HACKATHON 015')
            div(id='info')
                a(class = 'anchor'
                  name  = 'info')
                div(id='info-frame')
                    div(class='paragraph-1')
                        div(id='info-frame-intro')
                            div(class='info-intro-subtitle') Theme
                            p(id='info-frame-intro-title') Home, Smart Home
                            p(id='info-frame-intro-text')
                                | What will the home of the future look like and
                                | function like? What gadgets and features will
                                | become essential equipments of the most intimate
                                | spaces of our lives?
                                br/
                                | Are you interested in IoT and ready to come up
                                | with simple and practical solutions using the
                                | latest technologies?
                                br/
                                | The new hackathon series of Kitchen Budapest
                                | aims to find pioneer solutions across the
                                | country and to turn some of them into long
                                | lasting success.
                                br/
                                br/
                                | Join us to the 24-hour-long hackathon and team
                                | up with others to craft crazy hacks that you
                                | can smarten up your home with, make it safer,
                                | sweeter, more comfortable or just a better
                                | place to live in. You&rsquo;ll have the chance
                                | to meet inspiring people, participate in
                                | workshops during the weekend and KIBU will
                                | provide all the devices and mentoring you need
                                | to make the best out of your ideas.
                            br/
                            p(id='info-frame-intro-summary')
                                | Now all you need to do is to pick the location
                                | and register for the event. The space is
                                | limited so make sure you won&rsquo;t miss it ;)
                    div(class='paragraph-2')
                        div(id='info-frame-info')
                            div(class='info-intro-subtitle') Dates &amp; Locations
                            div(id='info-frame-info-box')
                                div(id='info-frame-info-box-arrow')
                                    div(id='info-frame-info-box-arrow-up')
                                        div
                                            p budapest
                                            p october
                                            p kitchen budapest
                                            p 30. RÁDAY STR. Budapest, H-1092
                                        div
                                            p
                                                span 02
                                                span 18:00
                                            p
                                                span 03
                                                span 20:00
                                    div(id='info-frame-info-box-arrow-down')
                                        div
                                            p szeged
                                            p october
                                            p SZTE GTK
                                            p 1. KÁLVÁRIA SGT. Szeged, H-6722
                                        div
                                            p
                                                span 09
                                                span 18:00
                                            p
                                                span 10
                                                span 20:00
            div(id='detail')
                a(class='anchor'
                  name='detail')
                div(id='detail-frame')
                    a(id   = 'detail-frame-apply'
                      href = '#registration')
                        | apply here!
                    div(class='paragraph-1')
                        div(class='detail-frame-info')
                            div For whom is it for?
                            div
                                | All young creative developers, artists,
                                | designers and people with business curiosity
                                | are welcome to team up and create something
                                | amazing in only 24 hours. If you already have
                                | your team, note that all the members need to
                                | register to the event.
                        div(class='detail-frame-info')
                            div Capacity
                            div
                                | The event&rsquo;s capacity is 35 people maximum
                                | (approx. 6 teams)
                        div(class='detail-frame-info')
                            div Registration fee
                            div
                                | The participation is FREE for everyone however,
                                | you need to register&nbsp;
                                a(href='#registration') here
                                | . If you&rsquo;re a developer don&rsquo;t
                                | forget to read the documentation&nbsp;
                                a(href='https://github.com/kitchenbudapest/hackathon') here
                                | .
                        div(class='detail-frame-info')
                            div Language
                            div
                                | Although the we will run the hackathon in
                                | Hungarian, prepare to switch to English
                                | anytime we feel like there&rsquo;s a need for
                                | that.
                        div(class='detail-frame-info')
                            div What to bring?
                            div
                                | Your laptop and your maker/hacker/tinker tools
                                | if you have any. And preferably your geek
                                | friends :)
                        div(class='detail-frame-info')
                            div Food
                            div
                                | Don&rsquo;t worry, we&rsquo;ll make sure you
                                | don&rsquo;t hack hungry and besides the main
                                | meals, you have plenty supply of energy
                                | boosters and midnight snacks.
                    div(class='paragraph-2 paragraph-2-spec-1')
                        div(id='detail-frame-prizes')
                            div(id='detail-frame-prizes-head')
                                img(src = 'img/hackathon_prize_star.svg'
                                    alt = '*')
                                div(id='detail-frame-prizes-head-title')
                                    span the
                                    br/
                                    span prizes
                            div(id='detail-frame-prizes-info')
                                div(class='detail-frame-prizes-info-text')
                                    div Raspberry Pi 2 Model B
                                    div
                                        | A credit card-sized single-board computer
                                div(class='detail-frame-prizes-info-text')
                                    div DeviceHub Premium Account
                                    div
                                        | An IoT platform for makers
                                div(class='detail-frame-prizes-info-text')
                                    div
                                        | Kibu mentorship and
                                        br/
                                        | financial support
                                    div
                                        | For the whole team by the experts of
                                        | Kitchen Budapest
                                div(class='detail-frame-prizes-info-text')
                                    div laser tag adventure
                                    div For every member of the team
                        div(id='detail-frame-schedule')
                            div(id='detail-frame-schedule-head')
                                span event
                                br/
                                span schedule
                            div(class = 'detail-frame-schedule-timing ' +
                                        'detail-frame-schedule-timing-spec')
                                span 18:00
                                span Registration
                            div(class='detail-frame-schedule-timing')
                                span 18:30
                                span Warm-up
                            div(class='detail-frame-schedule-timing')
                                span 19:15
                                span Technical workshop
                            div(class='detail-frame-schedule-timing')
                                span 20:00
                                span Hack through the night
                            div(class='detail-frame-schedule-timing')
                                span 23:30
                                span Late night dinner: pizza
                            div(id='detail-frame-schedule-spec')
                                | work time
                            div(class='detail-frame-schedule-timing')
                                span 08:00
                                span Breakfast: cerials, ham and eggs
                            div(class='detail-frame-schedule-timing')
                                span 10:00
                                span Project presentation workshop
                            div(class='detail-frame-schedule-timing')
                                span 13:00
                                span Lunch
                            div(class='detail-frame-schedule-timing')
                                span 19:00
                                span Project pitches
                            div(class='detail-frame-schedule-timing ' +
                                      'detail-frame-schedule-timing-spec')
                                span 20:00
                                span Awards
                            div(class='detail-frame-schedule-timing')
                                span 20:30
                                span After party
            div(id='registration')
                a(class = 'anchor'
                  name  = 'registration')
                div(id='registration-frame')
                    div(class='paragraph-1')
                        div(id='registration-frame-title')
                            | registration
                        div(id='registration-frame-role')
                            div(id='registration-frame-role-frame')
                                span I&rsquo;m a:
                                div
                                    input(id    = 'registration-frame-role-radio-1'
                                          type  = 'radio'
                                          name  = 'registration-frame-role-radio'
                                          value = 'programmer'
                                          checked)
                                    label(for='registration-frame-role-radio-1')
                                        | Programmer
                                        span
                                    input(id    = 'registration-frame-role-radio-2'
                                          type  = 'radio'
                                          name  = 'registration-frame-role-radio'
                                          value = 'entrepreneur')
                                    label(for='registration-frame-role-radio-2')
                                        | Entrepreneur
                                        span
                        div(id='registration-frame-city')
                            div(id='registration-frame-city-frame')
                                span Location:
                                div
                                    input(id    = 'registration-frame-city-radio-1'
                                          type  = 'radio'
                                          name  = 'registration-frame-city'
                                          value = 'budapest'
                                          checked)
                                    label(for='registration-frame-city-radio-1')
                                        | Budapest
                                        span
                                    input(id    = 'registration-frame-city-radio-2'
                                          type  = 'radio'
                                          name  = 'registration-frame-city'
                                          value = 'szeged')
                                    label(for='registration-frame-city-radio-2')
                                        | Szeged
                                        span
                        div(id='registration-frame-info')
                            p Registration will close on 27th September at 00:00 PM EET.
                            p
                                | If you have further questions, feel free to&nbsp;
                                a(href   = 'mailto:hello@kitchenbudapest.hu?' +
                                           'subject=Kibu+Hackathon+2015'
                                  target = '_blank')
                                    | drop us a line
                                | !
                    div(class='paragraph-2 paragraph-2-spec-2')
                        div(id='registration-frame-data')
                            div(id    = 'registration-frame-data-name'
                                class = 'registration-basic')
                                div Name*
                                span
                                    input(id    = 'registration-frame-data-name-input'
                                          class = 'registration-basic'
                                          type  = 'text'
                                          name  = 'name')
                            div(id='registration-frame-data-mail'
                                class='registration-basic')
                                div Email*
                                span
                                    input(id='registration-frame-data-mail-input'
                                          class='registration-basic'
                                          type='email'
                                          name='email')
                            div(id='registration-frame-data-lang')
                                div Programming languages<span>(optional)</span>
                                div(id='registration-frame-data-lang-frame'
                                    class='registration-basic')
                                    textarea(id          = 'registration-frame-data-lang-frame-input'
                                             class       = 'registration-basic'
                                             placeholder = 'C, C++, Rust, Java, '      +
                                                           'C#, Go, Haskell, Python, ' +
                                                           'Ruby, PHP, JavaScript, '   +
                                                           'Bash, ...')
                            div(id='registration-frame-data-send')
                                div
                                    | I agree with the&nbsp;
                                    a(href   = 'https://github.com/kitchenbudapest/' +
                                               'openpage/blob/gh-pages/etc/'         +
                                               'terms_and_conditions.md'
                                      target = '_blank')
                                      | Terms &amp; Conditions
                                div(id='registration-frame-data-send-button')
                                    | send
                    div(id='registration-frame-error')
            div(id='footer')
                a(class='anchor'
                  name='links')
                div(id='footer-frame')
                    div(class='paragraph-1')
                        div(id='footer-frame-title') links
                        div(id='footer-frame-links')
                            a(href='https://github.com/kitchenbudapest/hackathon'
                              target='_blank')
                                | Hackathon Documentation &amp; Framework
                            a(href   = 'https://github.com/kitchenbudapest/' +
                                       'openpage/blob/gh-pages/etc/terms_and_conditions.md'
                              target ='_blank')
                                | Hackathon Terms &amp; Conditions
                            a(href='https://github.com/kitchenbudapest'
                              target='_blank')
                                | Kibu's Central Repository
                            a(href='http://kibu.hu'
                              target='_blank')
                                | Kibu's Website
                            a(href   = 'https://www.raspberrypi.org/'
                              target = '_blank')
                                | Raspberry Pi's Website
                    div(class='paragraph-2')
                        div(id='footer-frame-info')
                            a(href   = 'http://kibu.hu'
                              target = '_blank')
                                img(src = 'img/hackathon_kibu_logo.svg'
                                    alt = '#{img_alt_kibu}')
                            p Location:
                            p Ráday utca 30 (entrance from Biblia köz)
                            p 1092 Budapest
                            div
                                a(href='https://www.facebook.com/kitchenbudapest'
                                  target='_blank')
                                    img(src='img/hackathon_social_facebook.svg'
                                        alt='(f)')
                                a(href='https://twitter.com/kibu'
                                  target='_blank')
                                    img(src = 'img/hackathon_social_twitter.svg'
                                        alt = '(t)')
                                a(href='http://www.telekom.hu'
                                  target='_blank')
                                    img(src = 'img/telekom_logo.svg'
                                        alt = '*T**')
                                a(href='https://www.hubraum.com'
                                  target='_blank')
                                    img(src = 'img/hubraum_logo.svg'
                                        alt = 'hub:raum')
                                a(href='https://www.devicehub.net/'     +
                                       '?utm_source=Google'             +
                                       '&amp;utm_medium=KIBU%20website' +
                                       '&amp;utm_campaign=KIBU%20hackathon'
                                  target='_blank')
                                    img(src = 'img/devicehub_logo.svg'
                                        alt = 'DeviceHub')
                    div
                        img(src='img/vt100_keyboard.001.001.png'
                            alt='QWERTY')
        script(type="text/javascript") main();
